<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>


    <div class="titleicon">
      <img src="../../../assets/img/ssqq.jpg" width="100px" />
    </div>




  </ion-toolbar>



</ion-header>


<ion-content class="ion-padding ion-text-center" *ngIf="login && rol =='root'">

  <div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


  </div>
  <!-- <div class="logo">
    <img src="../../../assets/img/Logo_Grupo_CRAVMEX112.png" width="" routerLink="/home" class="cursor"/>


</div> -->
  <br>
  <br>
  <div class="form">
    <ion-item >

      <ion-label position="floating">
        Nombre
      </ion-label>
      <ion-input [(ngModel)]="datos.nombre" placeholder="Escriba su Nombre" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">
        Apellido
      </ion-label>
      <ion-input [(ngModel)]="datos.apellido" placeholder="Escriba su Apellido" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">
       Correo
      </ion-label>
      <ion-input [(ngModel)]="datos.correo" placeholder="ejemplo@correo.com" type="email" required></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">
        Contraseña
       </ion-label>
      <ion-input [(ngModel)]="datos.password" placeholder="Ingrese una contraseña" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">
       # Telefono
       </ion-label>
       <ion-input [(ngModel)]="datos.telefono" maxlength="10" min="000" max="999"  placeholder="Ingrese su numero" type="tel" required></ion-input>
    </ion-item>


    <ion-item lines="none">   
      <ion-select [(ngModel)]="datos.status" placeholder="Status" interface="action-sheet">
        <ion-select-option value="Activo">Activo</ion-select-option>
      


      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-select [(ngModel)]="datos.perfil" placeholder="Perfil" (ionChange)="Onchange($event)" interface="action-sheet">
        <ion-select-option value="Administrador">Administrador</ion-select-option>
        <ion-select-option value="Operador">Operador</ion-select-option>
        <ion-select-option value="root">Super Usuario</ion-select-option>


      </ion-select>
    </ion-item>










    <ion-row class="top-40">
      <ion-col>
        <ion-button expand="block" 
    [disabled]="!datos.nombre   || !datos.apellido 
             || !datos.correo   || !datos.password
             || !datos.telefono || !datos.perfil"
     color="dark" (click)="registrar()">
      Registrar
     </ion-button>
      </ion-col>
    </ion-row>

  </div>



</ion-content >
<ion-content class="content" *ngIf="login && rol=='Administrador' || rol=='Operador'" >
  <ion-row>
    <ion-col >


      <ion-card>
       
   <img src="../../../assets/img/iconx.png" width="300px" />
 
        <br>
        <br>
        <ion-label>
          <h1>Error </h1>
        </ion-label>
        <p>_______________</p>
        <ion-label><h1>Parece que no cuentas con los permisos</h1></ion-label><br><br>
        <ion-label><h1>Inicia Sesión con el usuario correcto</h1> </ion-label>
        
        <div>
          <p>_______________</p>
          <br>

          <ion-button [routerLink]="['/home']"> Regresar</ion-button><br>
          <br>
        </div>

        <!-- <ion-icon class="icon-dinero" name="cash-outline"></ion-icon> -->
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>