.titleicon {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align:center;
}
.image{

     padding: 10px;
    
    border: 1px solid #e9ecef;
    width: 80%;
    margin: auto;
    }
    .rowt{
    text-align: center;
    align-content: center;
    align-items: center;
    }