<ion-header>

  <ion-toolbar>

 
      <div class="titleicon">
        <img src="../../../assets/img/ssqq.jpg" width="100px" routerLink="/home" class="cursor"  />
             </div>

      <ion-buttons slot="start">
<ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title></ion-title>
      
      <ion-buttons slot="end">
        <ion-button (click)="cerrar()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item>
    <ion-label class="label">
      Avances diarios 
    </ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col >
  <p>Descripcion</p>
      </ion-col>
  
      <ion-col >
  <p>monto</p>
  
      </ion-col>

      <ion-col >
        <p>Fecha</p>
        
            </ion-col>
          
            <ion-col >
              <p>Foto</p>
              
                  </ion-col> 
    </ion-row>
  </ion-grid>

    <ion-grid>
     
    <ion-row *ngFor="let finales of final">
      <ion-col >
      
         {{finales.descripcion}}
      </ion-col><br>
  <ion-col>
      
      ${{finales.monto }}
      </ion-col>

      <ion-col>
      
        {{finales.fecha|date}}
      </ion-col> 
      <ion-col>
      <ion-button (click)="foto()">
        Ver Imagen
      </ion-button> 
     
    </ion-col>
    
    <br><br>
    </ion-row>
    <ion-row *ngFor="let finales of final" class="rowt">
      <ion-col >
        <img class="image" [src]="finales.foto"  *ngIf="ocultar">
        
              </ion-col>  
          </ion-row>
  </ion-grid>

  </ion-content>