.normal{
    text-align: center;



}

.normall{
    text-align: center;



}
.titleicon {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align:center;
}
.content{

    // position: relative;
// align-content: center;

    text-align: center;
  


}