<ion-content>

<ion-item>
  <ion-label class="label">
    Avances diarios 
  </ion-label>
</ion-item>
<ion-grid>
  <ion-row>
    <ion-col >
<p>porcentaje</p>
    </ion-col>

    <ion-col >
<p>Fecha</p>

    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-grid>
   
  <ion-row *ngFor="let finales of final">
    <ion-col >
    
      <p> {{finales.porcentaje}}%</p>
    </ion-col>
<ion-col>
    
      {{finales.fechaI | date}}
    </ion-col>
    
  </ion-row>
</ion-grid>
</ion-grid>
</ion-content>
