<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Calcular Promedio
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-input type="text" placeholder="Nota1" [(ngModel)]="n1"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="text" placeholder="Nota2" [(ngModel)]="n2"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="text" placeholder="Nota3" [(ngModel)]="n3"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="text" placeholder="Nota4" [(ngModel)]="n4"></ion-input>
    </ion-item><br><br>
    <ion-button color="danger" (click)="calcular();">Calcular</ion-button>
    <br><br><br>
    <ion-label style="float:left">Promedio: {{promedio}}</ion-label>
    <ion-label style="float:right">Equivalente: {{equivalente}}</ion-label>
</ion-content>