
<ion-header>

  <ion-toolbar  >

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    
    <div class="titleicon">
      <img src="https://scontent.fmex37-1.fna.fbcdn.net/v/t39.30808-6/275833783_2058760204284126_9079254644944042166_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeFopssDjkNrRw0R9z7DD-4Geq3eMrcoIDZ6rd4ytyggNnTAvJYgO8GRmKmVHEK23URC0VjG7YfKeRgHpf9QMDBy&_nc_ohc=UaQVcS7EuAsAX9opkBK&_nc_ht=scontent.fmex37-1.fna&oh=00_AT_iquqjqaHgvqlU3SqePDq9pylHQ56pYjJxnG6_RKLxuA&oe=6232EFFB" width="100PX" />
 </div>




  </ion-toolbar>

  

</ion-header>


<ion-content class="ion-padding ion-text-center">

<div>
   
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


</div>
  <div class="logo">
<img src="https://scontent.fmex10-3.fna.fbcdn.net/v/t39.30808-6/276032553_2062537530573060_3092978523121664843_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeG_KVketN6vvs_JaLYT43SqBTOCfWjbyf0FM4J9aNvJ_a470Hc7VXK7NnihKpOg4_eOzODGXvqpqVqMOkDcJooy&_nc_ohc=7lubQfJ7r6QAX-xgxwa&_nc_zt=23&_nc_ht=scontent.fmex10-3.fna&oh=00_AT8_5sqcmJVoLrLHYwchA-pMDrbwfUa1wnBtpkTkTyoQgw&oe=623953CB" alt="">


</div>
<br>
<br>
<div class="form">
<ion-item lines="none">
  <ion-input [(ngModel)]="credenciales.correo" placeholder="Enter email" required></ion-input>
</ion-item>

<ion-item lines="none">
  <ion-input [(ngModel)]="credenciales.password" placeholder="password" type="password" required></ion-input>
</ion-item>

<ion-row class="top-40" >
  <ion-col >
    <ion-button expand="full"  color="dark" (click)="login()">
      Ingresar
     </ion-button>
  </ion-col>
</ion-row>

</div>

</ion-content>

