
<ion-header>

  <ion-toolbar  >

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    
    <div class="titleicon">
     <img src="../../../assets/img/LogoPrin.jpg" width="100px"/>
 </div>




  </ion-toolbar>

  

</ion-header>


<ion-content class="ion-padding ion-text-center">

<div>
   
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


</div>
   <div class="logo">
<img src="../../../assets/img/LogoPrin.jpg"/>


</div> 
<br>
<br>
<div class="form">
<ion-item lines="none">
  <ion-input [(ngModel)]="credenciales.correo" placeholder="Enter email" required></ion-input>
</ion-item>

<ion-item lines="none">
  <ion-input [(ngModel)]="credenciales.password" placeholder="password" type="password" required></ion-input>
</ion-item>

<ion-row class="top-40" >
  <ion-col >
    <ion-button expand="full"  color="dark" (click)="login()">
      Ingresar
     </ion-button>
  </ion-col>
</ion-row>

</div>

</ion-content>

