<div sizeLg="6" sizeMd="6" sizeXs="12" *ngIf="resultados" class="content-resultado">
     
   

  <ion-card > 
     <!-- <ion-avatar class="avatar">
      <img src="../../../assets/img/money.jpg" width="100px"/>
    </ion-avatar>  -->
    
    
<h1>Proyecto: {{resultados.nombrePr}} </h1>
  <p>__________________________</p>
 
  
<ion-label ><h1>Proceso:</h1>{{resultados.avance  }} </ion-label>
<br *ngIf="rol=='Administrador'">
<br *ngIf="rol=='Administrador'">

<div>  <p>___________________________</p>
<br *ngIf="rol=='Administrador'">
 
<br *ngIf="rol=='Operador'">
<br *ngIf="rol=='Operador'">


</div>


<ion-button color="tertiary" (click)="detalles()" *ngIf="rol=='Operador'"> Registrar avance diario
<ion-icon slot="end" name="reader-outline"></ion-icon>
 </ion-button>
 <br>
 <ion-button color="tertiary" (click)="informacion()" *ngIf="rol=='Administrador'"> Informacion
  <ion-icon slot="end" name="book"></ion-icon>
   </ion-button>
 <br>
 <br>



<!-- <ion-icon class="icon-dinero" name="cash-outline"></ion-icon> -->
</ion-card> 
<br>

<!-- <app-verproyecto [proyectos]="proyect"></app-verproyecto> -->

</div>