.normal{
    text-align: center;



}

.normall{
    text-align: center;



}
.titleicon {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align:center;
}
.content{

    // position: relative;
// align-content: center;

    text-align: center;
  


}


.icon-dinero{
    position: absolute;
    top:0px;
    right: 0px;
    font-size: 30px;
    margin: 10px;
    background: #d39e00;
    padding: 10px;
    border-radius: 100%;
    color: white;
}

.titleicon {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align:center;
    // cursor: pointer;
}
.cursor{
cursor: pointer;

}
.icon{
    width: 100%;
}
.card{

    align-items: center;
    align-content: center;

}

ion-card{

    position: relative;

    text-align: center;
}
.avatar.img{
align-items: center;
position: relative;
text-align: center;
}