<ion-list>

  <ion-list-header>
    <strong>Menú</strong>
  </ion-list-header>


  <ion-item  [routerLink]="['/proyecto']"  *ngIf="rol === 'Administrador' " >
        <ion-label>
          Proyectos
        </ion-label>
        <ion-icon slot="start" name="clipboard-outline"></ion-icon>
  </ion-item>

  <ion-item  [routerLink]="['/verproyecto']" *ngIf="login && rol=='Operador'" >
    <ion-label>
      Ver proyectos
    </ion-label>
    <ion-icon slot="start" name="clipboard-outline"></ion-icon>
</ion-item>

  <ion-item  [routerLink]="['/avances']"  *ngIf="login && rol=='Operador'">
    <ion-label>
      Avances
    </ion-label>
    <ion-icon slot="start" name="settings"></ion-icon>
</ion-item>


<ion-item  [routerLink]="['/veravances']"  *ngIf="rol === 'Administrador' " >
  <ion-label>
    Ver avances
  </ion-label>
  <ion-icon slot="start" name="settings"></ion-icon>
</ion-item>

<ion-item  [routerLink]="['/registro']" *ngIf="rol === 'root' " >
  <ion-label>
   Nuevo usuario  </ion-label>
  <ion-icon slot="start" name="person-add-outline" ></ion-icon>
</ion-item>

<ion-item  [routerLink]="['/useradmin']" *ngIf="rol === 'root' " >
  <ion-label>
    Registrados </ion-label>
  <ion-icon slot="start" name="person-circle-outline" ></ion-icon>
</ion-item>


  
  <ion-item detail="true" [routerLink]="['/gastos']" *ngIf="login && rol=='Operador'">
    <ion-label>
      Gastos
    </ion-label>
    <ion-icon slot="start" name="cash-outline"></ion-icon>
  </ion-item>

  <ion-item detail="true" [routerLink]="['/vergastos']" *ngIf="rol === 'Administrador' " >
    <ion-label>
      Ver Gastos
    </ion-label>
    <ion-icon slot="start" name="trail-sign-outline"></ion-icon>
  </ion-item>
  
  <ion-menu-toggle >
    <ion-item  *ngIf ="login == false"  detail="true" [routerLink]="['/login']" routerLinkActive="router-link-active" >
      <ion-label>
       Login
      </ion-label>
      <ion-icon slot="start" name="log-in-sharp"></ion-icon>
    </ion-item>

  </ion-menu-toggle>

  <ion-item  *ngIf="login && rol=='Operador'">
    <ion-label>
    Perfil
    </ion-label>
    <ion-icon slot="start" name="person-sharp"></ion-icon>
  </ion-item>
  

<ion-menu-toggle >

  <ion-item *ngIf ="login" detail="true" (click)="logout()">
    <ion-label>
  Salir
    </ion-label>
    <ion-icon slot="start" name="log-out-sharp"></ion-icon>
  </ion-item>

</ion-menu-toggle>
  

</ion-list>