<ion-list>

  <ion-list-header>
    <strong>Menú</strong>
  </ion-list-header>


  <ion-item  [routerLink]="['/proyecto']"  *ngIf="rol === 'admin' " >
        <ion-label>
          Proyectos
        </ion-label>
        <ion-icon slot="start" name="clipboard-outline"></ion-icon>
  </ion-item>

  <ion-item  [routerLink]="['/avances']"  *ngIf="rol === 'visitante' " >
    <ion-label>
      Avances
    </ion-label>
    <ion-icon slot="start" name="settings"></ion-icon>
</ion-item>
<ion-item  [routerLink]="['/registro']" >
  <ion-label>
    Registrar usuarios   </ion-label>
  <ion-icon slot="start" name="person-circle-outline"></ion-icon>
</ion-item>



  
  <ion-item detail="true" [routerLink]="['/gastos']" >
    <ion-label>
      Gastos
    </ion-label>
    <ion-icon slot="start" name="cash-outline"></ion-icon>
  </ion-item>

  <ion-item detail="true" [routerLink]="['/vergastos']" >
    <ion-label>
      Ver Gastos
    </ion-label>
    <ion-icon slot="start" name="trail-sign-outline"></ion-icon>
  </ion-item>
  
  <ion-menu-toggle >
    <ion-item  detail="true" [routerLink]="['/login']" routerLinkActive="router-link-active" >
      <ion-label>
       Login
      </ion-label>
      <ion-icon slot="start" name="log-in-sharp"></ion-icon>
    </ion-item>

  </ion-menu-toggle>

  <ion-item >
    <ion-label>
    Perfil
    </ion-label>
    <ion-icon slot="start" name="person-sharp"></ion-icon>
  </ion-item>
  

<ion-menu-toggle >

  <ion-item detail="true" (click)="logout()">
    <ion-label>
     Logout
    </ion-label>
    <ion-icon slot="start" name="log-out-sharp"></ion-icon>
  </ion-item>

</ion-menu-toggle>
  

</ion-list>